#import necessary libraries

By use of yaml library we can convert data from yaml to pandas

In [ ]:
# !pip install --upgrade pandas
!pip install tqdm

Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (4.66.5)

In [ ]:
import numpy as np

import pandas as pd
from yaml import safe_load
import os
from tqdm import tqdm

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

Mounted at /content/drive

#Here we use the OS module to extract data of all files

In [ ]:
filenames = []
for file in os.listdir('/content/drive/MyDrive/Project/T20_run_prediction/t20s'):
  filenames.append(os.path.join('/content/drive/MyDrive/Project/T20_run_prediction/t20s',file))
#

In [ ]:
filenames[0:5]

['/content/drive/MyDrive/Project/T20_run_prediction/t20s/1019983.yaml',
 '/content/drive/MyDrive/Project/T20_run_prediction/t20s/1019981.yaml',
 '/content/drive/MyDrive/Project/T20_run_prediction/t20s/1019979.yaml',
 '/content/drive/MyDrive/Project/T20_run_prediction/t20s/1007655.yaml',
 '/content/drive/MyDrive/Project/T20_run_prediction/t20s/1007659.yaml']

In [ ]:
# final_df = pd.DataFrame()
# count =1
# for file in tqdm(filenames):
#   with open(file,'r') as f:
#     df = pd.json_normalize(safe_load(f))
#     df['match_id'] = count
#     # final_df = final_df.append(df)
#     final_df = pd.concat([final_df,df],ignore_index=True)
#     count+=1

In [ ]:
# for file in tqdm(filenames):
#     with open(file, 'r') as f:
#         try:
#             data = safe_load(f)
#             df = pd.json_normalize(data)  # Try normalizing directly
#         except NotImplementedError:
#             try:
#                 # Handle case where data is a list of dictionaries
#                 df = pd.DataFrame()
#                 for item in data:
#                     temp_df = pd.json_normalize(item)
#                     df = pd.concat([df, temp_df], ignore_index=True)
#             except Exception as e:
#                 print(f"Error processing file {file}: {e}")
#                 continue  # Skip to the next file

#         df['match_id'] = count
#         final_df = pd.concat([final_df, df], ignore_index=True)
#         count += 1

In [ ]:
for file in tqdm(filenames):
    with open(file, 'r') as f:
        try:
            data = safe_load(f)
            df = pd.json_normalize(data)  # Try normalizing directly
        except NotImplementedError:
            try:
                # Handle case where data is a list of dictionaries
                df = pd.DataFrame()
                for item in data:
                    temp_df = pd.json_normalize(item)
                    df = pd.concat([df, temp_df], ignore_index=True)
            except Exception as e:
                print(f"Error processing file {file}: {e}")
                continue  # Skip to the next file

        df['match_id'] = count
        final_df = pd.concat([final_df, df], ignore_index=True)
        count += 1

 98%|█████████▊| 1411/1443 [08:05<00:07,  4.12it/s]

Error processing file /content/drive/MyDrive/Project/T20_run_prediction/t20s/README.txt:

100%|██████████| 1443/1443 [08:17<00:00,  2.90it/s]

In [ ]:
backup = final_df.copy()

In [73]:

final_df

,innings,meta.data_version,meta.created,meta.revision,info.city,info.dates,info.gender,info.match_type,info.outcome.by.runs,info.outcome.winner,...,info.outcome.by.wickets,info.neutral_venue,info.outcome.method,info.outcome.result,info.match_type_number,info.outcome.eliminator,info.bowl_out,info.outcome.bowl_out,info.supersubs.New Zealand,info.supersubs.South Africa
0,"[{'1st innings': {'team': 'New Zealand', 'deli...",0.9,2017-01-08,2,Mount Maunganui,[2017-01-08],male,T20,27.0,New Zealand,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[{'1st innings': {'team': 'New Zealand', 'deli...",0.9,2017-01-08,1,Mount Maunganui,[2017-01-06],male,T20,47.0,New Zealand,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",0.9,2017-01-08,1,Napier,[2017-01-03],male,T20,NaN,New Zealand,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.9,2016-06-19,1,NaN,[2016-06-18],male,T20,2.0,Zimbabwe,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[{'1st innings': {'team': 'India', 'deliveries...",0.9,2016-06-25,1,NaN,[2016-06-22],male,T20,3.0,India,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7173,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.9,2016-01-19,1,Khulna,[2016-01-15],male,T20,NaN,Bangladesh,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7174,[{'1st innings': {'team': 'United Arab Emirate...,0.9,2016-02-21,2,Abu Dhabi,[2016-02-16],male,T20,5.0,United Arab Emirates,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7175,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",0.9,2016-01-19,2,Khulna,[2016-01-17],male,T20,42.0,Bangladesh,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7176,"[{'1st innings': {'team': 'Ireland', 'deliveri...",0.9,2016-02-21,1,Abu Dhabi,[2016-02-14],male,T20,34.0,Ireland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7177,"[{'1st innings': {'team': 'Papua New Guinea', ...",0.9,2016-02-09,1,Townsville,[2016-02-09],male,T20,11.0,Papua New Guinea,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
final_df['info_gender'].value_counts()

KeyError: 'info_gender'

In [ ]:
final_df = final_df[final_df['info_gender'] == 'male']
final_df.drop(columns=['info_gender'],inplace=True)
final_df

In [ ]:
final_df['info.match_type'].value_counts()

In [ ]:
final_df['info.overs'].value_counts()

In [ ]:
final_df = ,final_df[final_df['info.overs'] == 20]
final_df.drop(columns=['info.overs','info.match_type'],inplace=True)
final_df

In [ ]:
import pickle
pickle.dump(final_df,open('final_df.pkl','wb'))

In [ ]:
matches = pickle.load(open('final_df.pkl','rb'))
matches.iloc[0]['innings'][0]['1st innings']['deliveries']

In [ ]:
count=1
delivery_df = pd.DataFrame()
for index , row in matches.iterrows():
  if count in [75,108,150,180,268,360,443,458,583,982,1052,1111,1226,1345]:
    count+=1
    continue
  count+=1
  ball_of_match = []
  batsman = []
  bowler = []
  runs = []
  player_of_dismis=[]
  teams = []
  batting_team = []
  match_id = []
  city = []
  venue = []
  for ball in row['innings'][0]['1st innings']['deliveries']:
    for key in ball.keys():
      match_id.append(count)
      batting_team.append(row['innings'][0]['1st innings']['team'])
      teams.append(row['info.teams'])
      ball_of_match.append(key)
      batsman.append(ball[key]['batsman'])
      bowler.append(ball[key]['bowler'])
      runs.append(ball[key]['runs']['total'])
      city.append(row['info.city'])
      venue.append(row['info.venue'])
      try:
        player_of_dismis.append(ball[key]['wicket']['player_out'])
      except:
        player_of_dismis.append('out')
  loop_df = pd.DataFrame({
    'match_id':match_id,
    'teams':teams,
    'batting_team':batting_team,
    'ball':ball_of_match,
    'batsman':batsman,
    'bowler':bowler,
    'runs':runs,
    'player_dismissed':player_of_dismis,
    'city':city,
    'venue':venue
  })

  delivery_df = pd.concat([delivery_df,loop_df],ignore_index=True)

In [ ]:
delivery_df

In [ ]:
 def bowl(row):
  for team in row['teams']:
    if team != row['batting_team']:
      return team

In [ ]:
delivery_df['bowling_team'] = delivery_df.apply(bowl,axis=1)

In [ ]:
delivery_df.drop(columns=['teams'],inplace=True)
#

In [ ]:
delivery_df['batting_team'].unique()

In [ ]:
teams =[
    'Australia',
    'India',
    'Bangladesh',
    'New Zealand',
    'South Africa',
    'England',
    'West Indies',
    'Afghanistan',
    'Pakistan',
    'Sri Lanka
]

In [ ]:
delivery_df = delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df = delivery_df[delivery_df['bowling_team'].isin(teams)]
#

In [ ]:
delivery_df

In [ ]:
 op = delivery_df[['match_id','batting_team','bowling_team','ball','runs','player_dismissed','city','venue']]